/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.json2html_block {
    margin-left:15px;
}



.json2html_val {
    color:blue;
}

.json2html_val_text {
    color:green;
}

.json2html_val_number {
    color:blue;
}


.json2html_key{
    font-weight: bold;
}















