<!DOCTYPE html>

<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" ng-app> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" ng-app> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" ng-app> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/json2html.css">
    <style>
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body ng-controller="MainCntl">

<!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">TRAFIKa</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">USER<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" ng-click="changeAPI('login');">login</a></li>
                            <li><a href="#" ng-click="changeAPI('create');">create</a></li>
                            <li class="divider"></li>
                            <li><a href="#" ng-click="changeAPI('exists');">exists</a></li>
                        </ul>
                    </li>
                    <li><a href="#about">/user</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form pull-right">
                    <input class="span2" type="text" placeholder="Email">
                    <input class="span2" type="password" placeholder="Password">
                    <button type="submit" class="btn">Sign in</button>
                </form>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="section span8 offset2">

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div>

        <form id="exists"
              method="post"
              action="{{host}}/api/{{api}}/{{method}}/{{exturl}}"
              target="_blank">
            <div>
                <input type="checkbox" ng-model="showclient"/>
                show client info and session
            </div>
            <div ng-show="showclient">
                <div>
                    client: <input type="checkbox" ng-model="client_enable" ng-change="paramChange();"/>
                    <input ng-disabled="client_enable" name="client" type="text" value="test" length="10"
                           ng-model="client" ng-change="paramChange();" class="span1"/>

                    cversion: <input type="checkbox" ng-model="cversion_enable" ng-change="paramChange();"/>
                    <input ng-disabled="cversion_enable" name="cversion" type="text" value="1.0" ng-model="cversion"
                           ng-change="paramChange();" class="span1"/>
                    (client version)
                </div>
                <div ng-hide="sessionVisible1">
                    session: <input type="checkbox" ng-model="sessionDisabled" ng-change="paramChange();"/>
                    <input ng-disabled="sessionDisabled" name="sessio" ng-model="session" type="text"
                           ng-change="paramChange();"/>
                </div>

            </div>
            <hr>

            <div ng-repeat="p in params">
                <span class="span2">{{p.name}} : </span>
                <input type="text" ng-model="p.value" ng-change="paramChange();"/>
            </div>
            <!--<input ng-show="params[0]" type="text" ng-model="params[0].value"  ng-change="paramChange();" />
            <input ng-show="params[1]" type="text" ng-model="params[1].value"  ng-change="paramChange();" />
            <input ng-show="params[2]" type="text" ng-model="params[2].value"  ng-change="paramChange();" /> -->

            <hr>
            <div ng-repeat="p in posts">
                <span class="span2">{{p.name}} : </span>
                <input class="input-small" type="text" ng-model="p.value" ng-change="paramChange();"/>
            </div>


        </form>

    </div>
    <h5>{{host}}{{api}}/{{method}}/{{exturl}}</h5>

    <div class="text-info"><small>{{curl}}</small></div>
    <span class="btn btn-large btn-info" ng-click="call();">CALL</span>
    <span class="btn btn-large btn-warning" ng-click="call();">send</span>
    <hr>

    <div ng-show="result">
        <h5 ng-show="resultStatus">status: {{resultStatus}}</h5>
        <div>{{resultHeader }}</div>
        <hr>
        <div ng-bind-html-unsafe="result"></div>
        <hr>
        <div>
        {{result}}
        </div>
        <hr>
    </div>

    <footer>
        <p>&copy; Milan Medlik 2013</p>
    </footer>

</div>
<!-- /container -->

<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.0.min.js"><\/script>')</script>

<script src="js/vendor/bootstrap.min.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="lib/underscore-min.js"></script>
<script src="js/main.js"></script>
<script src="lib/angular/angular-resource.js"></script>
<script src="js/json2html.js"></script>
</body>
</html>
